<h1 class = "page-header">Week 1</h1>
<p>Week 1 is all about a good foundation in the basics. This week we are going to focus on the CLI, letters, numbers, variables and lastly methods. The core programming language that this course will focus on will be Ruby.</p>

<p>Why Ruby? Programming languages is simply a mean to instruct the computer to do what we want. While there are many different types of programming languages, I have chosen Ruby for this course. I have found that Ruby is the most easiest and most intuitive language to learn first. Since Ruby closely resembles written English, we will not have to focus on syntax too much and rather focus on thinking like a programmer.</p>

<p>The question I get most often is "What programming language should I learn to be the most marketable in the tech industry?". This is an important question and should be considered however not at this moment. What's more important is that you learn the fundamentals of programming. The "it" programming language always changes. So it's important to learn the fundamentals to quickly learn new technologies.</p>

<p>During your career as a developer, you will learn and code in multiple languages. You will see that learning your next language is a lot easier than the previous language because of your core fundamentals.</p>

<h4 class = "page-header">Learning Goals</h4>
<p>Be familiar with using and navigating the terminal and have a solid understanding of the basics of programming.</p>

<h4 class = "page-header">CLI</h4>
<p>CLI, or Command Line Interface is a means of interacting with the computer where the user can issues commands for the computer to execute via the terminal.</p>
<a href = "/week/1/cli">Click here to begin.</a>

<h4 class = "page-header">Letters</h4>
<p>I would like to buy a vowel please.</p>
<a href = "/week/1/letters">Click here to begin.</a>

<h4 class = "page-header">Numbers</h4>
<p>Not much to it.</p>
<a href = "/week/1/numbers">Click here to begin.</a>

<h4 class = "page-header">Variables</h4>
<p>Looks like algebra will come in handy after all.</p>
<a href = "/week/1/variables">Click here to begin.</a>

<h4 class = "page-header">Methods</h4>
<p>A set of expressions that returns a value. With methods, one can organize their code so that it can be easily invoked from other areas of their program.</p>
<a href = "/week/1/methods">Click here to begin.</a>
