h1.page-header Week 2
p Week 2 we will cover flow control and data structures.

h4.page-header Learning Goals
p Understand flow control and data structures to build more complex programs.

h4.page-header Flow Control
a(href="/week/2/flow_control") Click here to begin.

h4.page-header Arrays
a(href="/week/2/arrays") Click here to begin.

h4.page-header Iterators
a(href="/week/2/iterators") Click here to begin.

h4.page-header Symbols
a(href="/week/2/symbols") Click here to begin.

h4.page-header Hashes
a(href="/week/2/hashes") Click here to begin.
