<h1 class = "page-header">Week 2</h1>
<p>Week 2 we will cover flow control and data structures.</p>

<h4 class = "page-header">Learning Goals</h4>
<p>Understand flow control and data structures to build more complex programs.</p>

<h4 class = "page-header">Flow Control</h4>
<a href = "/week/2/flow_control">Click here to begin.</a>

<h4 class = "page-header">Arrays</h4>
<a href = "/week/2/arrays">Click here to begin.</a>

<h4 class = "page-header">Iterators</h4>
<a href = "/week/2/iterators">Click here to begin.</a>

<h4 class = "page-header">Symbols</h4>
<a href = "/week/2/symbols">Click here to begin.</a>

<h4 class = "page-header">Hashes</h4>
<a href = "/week/2/hashes">Click here to begin.</a>
