<h1 class = "page-header">Week 1</h1>
<p>Week 1 is all about a good foundation in the basics. This week we are going to focus on the cli, letters, numbers, variables and lastly methods. The programming language that this course will focus on will be Ruby.</p>

<h4 class = "page-header">Learning Goals</h4>
<p>Understand the basics of programming.</p>

<h4 class = "page-header">CLI</h4>
<a href = "/week/1/cli">Click here to begin.</a>

<h4 class = "page-header">Letters</h4>
<a href = "/week/1/letters">Click here to begin.</a>

<h4 class = "page-header">Numbers</h4>
<a href = "/week/1/numbers">Click here to begin.</a>

<h4 class = "page-header">Variables</h4>
<a href = "/week/1/variables">Click here to begin.</a>

<h4 class = "page-header">Methods</h4>
<a href = "/week/1/methods">Click here to begin.</a>
