<h1 class = "page-header">CLI</h1>
<p>Back in the day, computers didnt have Graphical User Interfaces (GUIs). It used to be that you would flip a switch on the back of the computer, and, after a few minutes of beeping and whirring, you would be presented with a command prompt. This is also where we are going to begin. Lets go ahead and open up iTerm2.
</p>

<h4 class = "page-header">Basic Structure</h4>
<p>If you take a look you will see that your computer name shows followed by a ~ which represents you are in the home directory. The $ represents the command prompt</p>

<h4 class = "page-header">Say Something</h4>
<p>
  Now lets say something:
  <pre>echo "hello world"</pre>
</p>

<h4 class = "page-header">Whats My Username?</h4>
<p>
  Now lets figure out our username:
  <pre>whoami</pre>
</p>

<h4 class = "page-header">Paths</h4>
<p>
  Everything in the filesystem is nested underneath the root folder, "/". The Absolute Path of an item in the filesystem is its location relative to the root folder. To get to the root you can type:
  <pre>cd ~</pre>
</p>

<p>The Relative Path of file or folder is its location from the current working directory. The absolute path is from the root folder</p>

<p>
  To get our absolute path of our working directory:
  <pre>pwd</pre>
</p>

<h4 class = "page-header">Viewing Files</h4>
<p>
  When working on the CLI we work primarily with files and directories. Lets view a file
  <pre>ls</pre>
</p>

<h4 class = "page-header">Common Commands</h4>
<table class = "table table-responsive">
  <thead>
    <tr>
      <td>command</td>
      <td>example</td>
      <td>description</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><pre>ls</pre></td>
      <td><pre>ls</pre></td>
      <td>List directory contents.</td>
    </tr>
    <tr>
      <td><pre>mv</pre></td>
      <td><pre>mv original_filename new_filename</pre></td>
      <td>Moves one or more files or directories from one place to another. Since it can "move" files from one filename to another, it is also used to rename files.</td>
    </tr>
    <tr>
      <td><pre>mkdir</pre></td>
      <td><pre>mkdir new_directory</pre></td>
      <td>Creates a new directory in the current directory.</td>
    </tr>
    <tr>
      <td><pre>cd</pre></td>
      <td><pre>cd directory_name</pre></td>
      <td>Changes the user's current directory location.</td>
    </tr>
    <tr>
      <td><pre>pwd</pre></td>
      <td><pre>pwd</pre></td>
      <td>Displays the absolute pathname of current working directory.</td>
    </tr>
    <tr>
      <td><pre>rm</pre></td>
      <td><pre>rm filename</pre></td>
      <td>Removes file. Recommend to use 'rm -i' because it asks the user to confirm.</td>
    </tr>
    <tr>
      <td><pre>cat</pre></td>
      <td><pre>cat filename</pre></td>
      <td>Display the text in a file.</td>
    </tr>
    <tr>
      <td><pre>diff</pre></td>
      <td><pre>diff file_one file_two</pre></td>
      <td>Display the difference between two files.</td>
    </tr>
  </tbody>
</table>

<h4 class = "page-header">Create Development Directory</h4>
<p>
  Lets make a directory on our desktop and call it "development". Be sure to change directories into Desktop before making the directory.
  <pre>mkdir development</pre>
</p>
<p>
  Within the development directory lets create a new file
  <pre>touch intro.rb</pre>
</p>
<p>Moving forward always create your files and directories via the terminal.</p>
