<h1 class = "page-header">Flow Control</h1>
<p>With the introduction of flow control we now have access to a whole new world of programming capabilities! After this week, we'll be able to write truly interactive programs. In the past we have made programs which say different things depending on your keyboard input, but after this week they will actually do different things.</p>

<h4 class = "page-header">Comparison Methods</h4>
<p>Here are the basic comparison methods that we use in Ruby.</p>
<pre>puts 1 > 2</pre>
<p>Output is: <strong>false</strong></p>
<pre>puts 1 < 2</pre>
<p>Output is: <strong>true</strong></p>
<pre>puts 5 >= 5</pre>
<p>Output is: <strong>true</strong></p>
<pre>puts 5 <= 4</pre>
<p>Output is: <strong>false</strong></p>
<pre>puts 1 == 1</pre>
<p>Output is: <strong>true</strong></p>
<pre>puts 2 != 1</pre>
<p>Output is: <strong>true</strong></p>
<p>Notice that these <strong>true</strong> and <strong>false</strong> values are not strings but rather another data type called <strong>Booleans</strong>.</p>
