<h1 class = "page-header">Letters</h1>
<p>When you write something that is in human language it is called text. When you write something that is in computer language that is called code.</p>

<h4 class = "page-header">Strings</h4>
<p>A group of letters in a program are called strings.</p>
<pre>puts "hello world"</pre>
<pre>puts 'I\'m a coding machine!'</pre>

<h4 class = "page-header">String Arithmetic</h4>
<pre>puts "hello " + "there"</pre>
<p>outputs: <strong>"hello there"</strong></p>
<pre>puts "yo " * 4</pre>
<p>outputs: <strong>"yo yo yo yo "</strong></p>
<pre>puts '12' + '12'</pre>
<p>outputs: <strong>"1212"</strong></p>
