<h1 class = "page-header">Numbers</h1>
<p>Integers are numbers without decimals much like how math classes define it. In ruby numbers fall under the Fixnum object.</p>
<pre>
  1
  -100
  50
  0
</pre>
<p>Floats are numbers with decimals. Most of the time in programming will not be dealing with floats.</p>
<pre>
  54.321
  0.001
  -205.3884
  0.0
</pre>

<h4 class = "page-header">Arithmetic</h4>
<pre>puts 1 + 2</pre>
<p>output is: <strong>3</strong></p>
<pre>puts 2 * 3</pre>
<p>output is: <strong>6</strong></p>
<pre>puts 5 - 8</pre>
<p>output is: <strong>-3</strong></p>
<pre>puts 9 / 2</pre>
<p>output is: <strong>4</strong>. The reason it is not 4.5 is because we are using integers if done with floats then would result in a float</p>
<pre>puts '12' + 12</pre>
<p>This will result in an error because we are trying to add a String object with a Fixnum object.</p>

<h4 class = "page-header">Practice</h4>
<p>
  Create a file in your development directory using the shortcuts we learned and call the file <strong>numbers.rb</strong>. To run the file simply type:
  <pre>ruby numbers.rb</pre>
</p>
<p>See how many you can solve!</p>
<pre>How many hours are in a year?</pre>
<pre>How many minutes are in a decade?</pre>
<pre>How many seconds old are you?</pre>
<pre>If I am 1246 million seconds old, how old am I?</pre>
