<h1 class = "page-header">Variables</h1>
<p>Up until this point when we use <strong>puts</strong> that string or number is lost. That is where variables come in.</p>
<p>The process of storing a string or number inside a variable is called an <strong>assignment</strong>. The name storing the value is called the <strong>variable</strong>.</p>

<h4 class = "page-header">Example</h4>
<pre>
  name = "Lawrence"
  puts "hello " + name
</pre>
<p>Output is: <strong>"Hello Lawrence"</strong></p>
