<h1 class = "page-header">Cirriculum</h1>

<div class = "list-group">
  <a href = "/week/0" class = "list-group-item">
    <h4 class = "list-group-item-heading">Setup</h4>
    <p class = "list-group-item-text">In this section we will be setting up our development environment. This should be done before the course begins.</p>
  </a>
  <a href = "/week/1" class = "list-group-item">
    <h4 class = "list-group-item-heading">Week 1</h4>
    <p class = "list-group-item-text">This week we will cover the cli, letters, numbers, variables and methods.</p>
  </a>
  <a href = "/week/2" class = "list-group-item">
    <h4 class = "list-group-item-heading">Week 2</h4>
    <p class = "list-group-item-text">This week we will cover flow control and data structures.</p>
  </a>
</div>
