<!doctype html>

<html lang = "en">
  <head>
    <meta charset = "utf-8" />
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0" />
    <title>Church</title>
    <link rel = "stylesheet" type = "text/css" href = "stylesheets/styles.css">
    <link rel = "stylesheet" type = "text/css" href = "stylesheets/bootstrap.min.css">
  </head>
  <body>
    <div class = "partial">
      <%= yield %>
    </div>

    <script type = "text/javascript" src = "javascripts/jquery.min.js"></script>
    <script type = "text/javascript" src = "javascripts/bootstrap.min.js"></script>
  </body>
</html>
